.App {
  text-align: center;
}


.cardholder{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  /* height: auto; */
  border: 5px solid black;
  margin: 10px;
  background: rgb(149, 127, 0);
}